@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Hammersmith+One&display=swap');
:root {
  --main-font: 'Hammersmith One', sans-serif;
  --font-2:'Hachi Maru Pop', cursive;
  --main-color:#f8a6ae;
  --text-color:#424242;
  --blue-color:#a8e1cd;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color:#424242;
    font-weight: 600;
    font-size:16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100vw;
    padding: 0 5%;
}
/* Hero */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.description_hero{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap:25px;
}
.title_site{
    font-family: var(--main-font);
    font-size:3.5vw;
    color:var(--main-color);
    text-align: center;
}
.description{
    font-family: var(--font-2);
    font-size:1.2vw;
    color:var(--text-color);
    line-height: 25px;
    font-weight: 100;
    text-align: center;
}
.amigurumis_action,
.receitas_action{
    height:40px;
    width: 150px;
    background: var(--blue-color);
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px auto;
    transition: .5s;
}
.amigurumis_action a,
.receitas_action a{
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--text-color);
}
.receitas_action{
    background: var(--main-color);
}
.amigurumis_action:hover,
.receitas_action:hover{
    background: #ddd;
    transition: .5s;
}
.action{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width:100%;
   height:50px;
}
.logo_img{
    width:100%;
    height:100%;
    object-fit: cover;
}
/* menu */
.header{
    width:100vw;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background:#F6F2F2;
    grid-template-columns: 1fr 1fr;
}
#menu{
    width: calc(100vw - 70px);
    height:40px;
    background:#F6F2F2;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}
#menu_list{
    display: flex;
    width:100%;
    justify-content:flex-start;
    height:100%;
    align-items: center;
    padding:0 10px;
}
#menu_list li {
    height:90%;
    padding:0 10px;
}
#menu_list li a{
/*background:#fff;*/
cursor:pointer;
height:100%;
display: flex;
align-items: center;
padding: 0 10px;
color:#f8a6ae;
}
#menu_list li a:hover{
/*background:#fff;*/
cursor:pointer;
color:#E8A4AB;
}
.search{
    position: absolute;
    top:40px;
    display: flex;
    height: 40px;
    width: 90%;
    background: #EEE8E8;
    left:50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 0 0 4px 4px;
    max-width: 600px;
}
#search_link{
    display: none;
}
#search_link:checked ~ .search{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.icon_search:before{
    content:"\f002";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
   color:#f8a6ae;
   font-size: 20px;
   padding: 0 15px;
   cursor: pointer;
   transition: 0.5s;
   grid-row: 1;
   grid-column: 2;
}
#search_link:checked ~ .icon_search:before{
    content:"\f00d";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    transition: 0.5s;
    font-size: 25px;
    }

.box_search{
    width:calc(100% - 120px);
    height:90%;
    border:1px solid #f8a6ae;
    margin:0 5px;
    background: transparent;
    border-radius: 4px;
}
.button_search{
    width:100px;
    height:90%;
    font-size: 16px;
    color:#ddd;
    border:1px solid #f8a6ae;
    margin:0 5px;
    background: #f8a6ae;
    font-family: 'Poppins', sans-serif;
}
#toggle,.toggle{
    display: none;
}
.submenulink{
    display: block;
    position: relative;
}
.submenu{
   visibility: hidden;
    opacity: 0;
     position: absolute;
    top:-30px;
    height: auto;
    transition:.5s;
    display: block;

}
.textsubmenu{
    display: inline-block;
    margin-right: 20px;
}
.submenushow{
    visibility: visible;
    opacity: 1;
    position: absolute;
    top:40px;
    height: auto;
    transition:.5s;
    display: block;
}
.submenushow li a,.submenu li a{
    background: #424242;
    margin-bottom:1px;
    cursor:pointer;
    height:100%;
    display: block;
    padding: 10px !important;
    color:#f8a6ae;
    transition: 0.3s;
}
.submenushow li a:hover,.submenu li a:hover{
    background: #5F5E5E;
    transition: 0.3s;
}
.submenulink:after{
    content:"\f0dd";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    transition: 0.5s;
    font-size: 18px;
    color:#f8a6ae;
    transition:.5s;
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
    position: absolute;
    top:5px;
    right:10px;
}
.submenulinkshow:after{
    content:"\f0de";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    transition: 0.5s;
    font-size: 18px;
    color:#f8a6ae;
    transition:.5s;

    position: absolute;
    top:10px;
    right:10px;
}
@media (max-width:980px){
    .description_hero{
        width: 100%;
    }
    .title_site{
        font-size:7.5vw;
    }
    .description{
        font-family: var(--font-2);
        font-size:4vw;
    }
    #menu{
        height:0;
        display:block;
        padding: 0;
        transition: .5s;
        grid-column: 1/3;
        grid-row: 2;
        position: relative;
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        font-size: 0;
    }
    #menu_list{
        display:block;
        padding:0 10px;
    }
    #menu_list li a{
        padding:10px;
    }
    .icon_search{
        display:block;
        margin:10px 10px;
        width:40px;
        margin: 0 20px 0 auto;
    }
    .search{
        top:40px;
    }
    .toggle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:auto;
        height: 40px;
        color:#424242;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        z-index: 9999;
        padding: 0 10px;
        grid-column: 1;
        grid-row: 1;
    }
    .toggle:after{
        content:"\f141";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    transition: 0.5s;
    font-size: 18px;
    color:#f8a6ae;
    transition:.5s;
    }
    #toggle:checked ~ .toggle:after{
        content:"\f00d";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    transition: 0.5s;
    font-size: 18px;
    color:#424242;
    transition:.5s;
    position: relative;
    z-index: 9999999;
    }
    #toggle:checked ~ #menu{
        margin-top: 0;
        transition: .5s;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding:20px 0 50px;
        font-size: 16px;
    }
    .submenushow{
    visibility: visible;
    opacity: 1;
    position: relative;
    top:0;
    height: auto;
    transition:.5s;
    display: block;
}
}